* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 75vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.btn {
  padding: 10px;
  width: 240px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(218, 59, 74);
  font-size: 20px;
  color: rgb(252,255,255);
}

.tooltip {
  position: absolute;
  width: 275px;
  height: 95px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -110%);
  display: none;
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 5px;
}

.tooltip-title {
  background-color: rgb(218, 214, 214);
  padding: 5px;
  font-weight: normal;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tooltip-text {
  padding: 5px;
  font-size: 15px;
}

.tooltip::after {
  content: "";
  height: 10px;
  width: 10px;
  position: absolute;
  background-color: white;
  border: 1px solid grey;
  border-left-style: none;
  border-top-style: none;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.active {
  display: block;
}